body{
    font-family: sans-serif;
    background-color: lightblue;
    color: black;
    margin: 3em;
    padding: 3em;
}

header, footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 3em;
}

nav{
    text-align: center;
    margin: 3em;
}

nav a{
    margin: 3em;
    color: darkblue;
    font-weight: bold;
}

main{
    padding: 3em;
}

table{
    border-collapse: collapse;
    margin: 3em;
}

td{
    padding: 3em;
    text-align: center;
}

img{
    border: thin;
}

fieldset{
    border: thin;
    padding: 3em;
}

button{
    background-color: darkblue;
    color: white;
    padding: 3em;
    cursor: pointer;
}